body{
    background-image: url("../Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    color: white;
    
}
h1{
    color: greenyellow;
}

@media (min-width: 1000px)
{

p{
    color: white;
    font-size: 30px;
}
}
@media (max-width: 750px)
{
    body{
    background-image: url("../Background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}